@import "./bootstrap.min.css";
@import "./style.min.css";
@import "default.css";
@import "./zeynep.css";
@import "./zeynep-right.css";
@import "./materialdesignicons.min.css";
@import "./unicons.iconscout.com/release/v3.0.6/css/line.css";
@media only screen and (min-width: 990px) {
    #Mynavigation {
        justify-content: end;
        display: flex !important;
        align-items: center;
    }
}

@media only screen and (max-width: 990px) {
    #Mynavigation {
        display: none !important;
    }
}

#topnav .menu-tow > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 15px;
}

#topnav .menu-tow .has-submenu .menu-arrow {
    top: 12px !important;
}

#topnav .menu-tow > .has-submenu:hover .menu-arrow {
    top: 16px !important;
}
