@import "./bootstrap.min.css";
@import "./style.min.css";

/* start defualt styles */

.bg-primary,
.btn-primary,
.btn-soft-primary:hover,
.btn-soft-primary:focus,
.btn-soft-primary:active,
.btn-soft-primary.active,
.btn-soft-primary.focus,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.pagination .page-item.active .page-link,
.nav-pills .nav-link.active,
#preloader #status .spinner .double-bounce1,
#preloader #status .spinner .double-bounce2,
.social-icon li a:hover,
.topnav .navbar-toggle.open span:hover,
.bg-animation-left.crypto-home:after,
.bg-animation-left.task-management-home:after,
.classic-app-image .bg-app-shape:after,
.classic-saas-image .bg-saas-shape:after,
.swiper-slider-hero .swiper-container .swiper-button-prev:hover,
.features.fea-primary:hover,
.tns-nav button.tns-nav-active,
.ribbon.ribbon-primary span,
.sidebar .widget .tagcloud > a:hover,
.work-container.work-modern .icons .work-icon:hover,
.timeline-page .timeline-item .date-label-left:after,
.timeline-page .timeline-item .duration-right:after,
#navmenu-nav li.account-menu.active .navbar-link,
#navmenu-nav li.account-menu:hover .navbar-link,
.form-check-input.form-check-input:checked,
.qs-datepicker-container
    .qs-squares
    .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(
        .qs-active
    ):hover,
.qs-datepicker-container .qs-squares .qs-square.qs-current {
    background-color: #2f55d4 !important;
}

.text-primary,
.bg-soft-primary,
.component-wrapper.sticky-bar li a:hover,
.component-wrapper.sticky-bar li a:focus,
.btn-soft-primary,
.btn-outline-primary,
.dropdown-primary .dropdown-menu .dropdown-item:hover,
.dropdown-primary .dropdown-menu .dropdown-item.active,
.dropdown-primary .dropdown-menu .dropdown-item:active,
.dropdown-primary .dropdown-menu .dropdown-item.focus,
.dropdown-primary .dropdown-menu .dropdown-item:focus,
.alert-outline-primary,
.breadcrumb .breadcrumb-item a:hover,
.breadcrumb .breadcrumb-item.active,
.topnav .has-submenu.active .submenu li.active > a,
.topnav .navigation-menu > li:hover > a,
.topnav .navigation-menu > li.active > a,
.topnav .navigation-menu > li > a:hover,
.topnav .navigation-menu > li > a:active,
.topnav.scroll .navigation-menu > li:hover > a,
.topnav.scroll .navigation-menu > li.active > a,
.topnav.nav-sticky .navigation-menu.nav-light > li.active > a,
.topnav.nav-sticky .navigation-menu.nav-light > li:hover > a,
.topnav.nav-sticky .navigation-menu.nav-light > li.active > a,
.topnav .navigation-menu > li .submenu li a:hover,
.topnav .navigation-menu > li:hover > a,
.topnav .navigation-menu > li.active > a,
.topnav .navigation-menu > li > a:hover,
.topnav .navigation-menu > li .submenu li a:hover,
.topnav .navigation-menu > li.has-submenu.open > a,
.topnav .has-submenu.active a,
.features.feature-clean .title:hover,
.features.fea-primary .content .title:hover,
.categories a:hover,
.explore-feature:hover .icon,
.explore-feature:hover .title,
.pricing-rates.business-rate:hover .title,
.blog .content .title:hover,
.blog .content .post-meta .readmore:hover,
.sidebar .widget .blog-categories li a:hover,
.sidebar .widget .post-recent .post-recent-content a:hover,
.media-list .media .media-heading:hover,
.job-box .position a:hover,
.job-box .company-name:hover,
.candidate-list .name:hover,
.company-list .name:hover,
.work-container.work-classic .content .title:hover,
.work-container.work-grid .content .title:hover,
.work-container.work-modern .content .title:hover,
.event-schedule .content .title:hover,
.courses-desc .content .title:hover,
.container-filter li.active,
.container-filter li:hover,
.shop-list .content .product-name:hover,
.team .name:hover,
.accordion .accordion-button:not(.collapsed),
.accordion .accordion-item .accordion-button:before,
#navmenu-nav li.active a {
    color: #2f55d4 !important;
}

.btn-primary,
.btn-soft-primary:hover,
.btn-soft-primary:focus,
.btn-soft-primary:active,
.btn-soft-primary.active,
.btn-soft-primary.focus,
.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.alert-primary,
.alert-outline-primary,
.pagination .page-item.active .page-link,
.form-check-input.form-check-input:checked,
.form-control:focus,
.form-check-input:focus,
.social-icon li a:hover,
.topnav .has-submenu.active.active .menu-arrow,
.topnav .has-submenu .submenu .has-submenu:hover .submenu-arrow,
.topnav.scroll .navigation-menu > li:hover > .menu-arrow,
.topnav.scroll .navigation-menu > li.active > .menu-arrow,
.topnav.nav-sticky .navigation-menu.nav-light > li:hover > .menu-arrow,
.topnav.nav-sticky .navigation-menu.nav-light > li.active > .menu-arrow,
.topnav .navigation-menu > li:hover > .menu-arrow,
.swiper-slider-hero .swiper-container .swiper-button-next:hover,
.pricing-rates.starter-plan,
.event-schedule:hover,
.container-filter li.active,
.container-filter li:hover {
    border-color: #2f55d4 !important;
}

.bg-soft-primary,
.btn-soft-primary,
.features .icon,
.features.feature-clean .icons i,
.features:hover .image:before,
.app-feature-shape-right:after,
.app-feature-shape-left:after,
.saas-feature-shape-left:after,
.saas-feature-shape-right:after,
.social-feature-left:after,
.social-feature-right:after,
.event-schedule .date .day {
    background-color: rgba(47, 85, 212, 0.1) !important;
}

.bg-soft-primary,
.btn-soft-primary {
    border: 1px solid rgba(47, 85, 212, 0.1) !important;
}

.app-feature-shape-right:after,
.app-feature-shape-left:after,
.saas-feature-shape-left:after,
.saas-feature-shape-right:after,
.social-feature-left:after,
.social-feature-right:after {
    box-shadow: 0 0 40px rgba(47, 85, 212, 0.1);
}

.event-schedule .date .day {
    box-shadow: 0px 0px 2px 0.25px rgba(47, 85, 212, 0.5);
}

.btn-primary,
.btn-soft-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
}

.alert-primary,
.pagination .page-item .page-link:hover,
::selection {
    background: rgba(47, 85, 212, 0.9);
    border-color: rgba(47, 85, 212, 0.9);
}

.social-icon li a:hover .fea-social {
    fill: #2f55d4;
}

.bg-circle-gradiant {
    background: radial-gradient(
        circle at 50% 50%,
        rgba(47, 85, 212, 0.1) 0%,
        rgba(47, 85, 212, 0.1) 33.333%,
        rgba(47, 85, 212, 0.3) 33.333%,
        rgba(47, 85, 212, 0.3) 66.666%,
        rgba(47, 85, 212, 0.5) 66.666%,
        rgba(47, 85, 212, 0.5) 99.999%
    );
}

.tns-nav button {
    background: rgba(47, 85, 212, 0.5) !important;
}

.classic-app-image .bg-app-shape:after,
.classic-saas-image .bg-saas-shape:after,
.freelance-hero .bg-shape:after {
    box-shadow: 0 0 40px rgba(47, 85, 212, 0.5);
}

.freelance-hero .bg-shape:after {
    background-color: #99abea;
}

.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(47, 85, 212, 0.15));
}

.features .image:before {
    background: linear-gradient(45deg, transparent, rgba(47, 85, 212, 0.1));
}

.home-wrapper:before {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 85, 212, 0.3)),
        to(transparent)
    );
    background: linear-gradient(90deg, rgba(47, 85, 212, 0.3), transparent);
}

.play-icon i {
    -webkit-text-stroke: 2px #2f55d4;
    -webkit-text-fill-color: transparent;
}

.play-icon i:hover {
    -webkit-text-stroke: 2px #2f55d4;
    -webkit-text-fill-color: #2f55d4;
}
a.text-primary:hover,
a.text-primary:focus {
    color: #284bc1 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus {
    background-color: #2443ac !important;
    border-color: #2443ac !important;
}

.ribbon.ribbon-primary span:before {
    border-left-color: #2443ac;
    border-top-color: #2443ac;
}

.ribbon.ribbon-primary span:after {
    border-right-color: #2443ac;
    border-top-color: #2443ac;
}

/* edn default style */

.has-submenu: hover > ul {
    border: 1px solid rgba(223, 223, 223, 0.589);
    border-radius: 10px;
    visibility: visible !important;
    opacity: 1 !important;
}
@media only screen and (min-width: 990px) {
    #Mynavigation {
        justify-content: flex-end;
        display: flex !important;
        align-items: center;
    }
}

@media only screen and (max-width: 991px) {
    #Mynavigation {
        display: none !important;
    }

    #navigation {
        display: none !important;
    }
}

.topnav .menu-tow > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 15px;
}

.topnav .menu-tow .has-submenu .menu-arrow {
    top: 9px !important;
}

.topnav .menu-tow > .has-submenu:hover .menu-arrow {
    top: 12px !important;
}

.skeleton-loader-background {
    width: 100%;
    height: 15px;
    display: block;
    background: lightgray;
}

.skeleton-loader-gradient {
    width: 100%;
    height: 15px;
    display: block;
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 80%
        ),
        lightgray;
    background-repeat: repeat-y;
    background-size: 50px 200px;
    background-position: 0 0;
}

.skeleton-loader {
    width: 100%;
    height: 15px;
    display: block;
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 80%
        ),
        rgb(240, 240, 240);
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
    border-radius: 4px;
}

@keyframes shine {
    to {
        background-position: 100% 0, /* move highlight to right */ 0 0;
    }
}

.img-cover {
    height: 120px !important;
}

@media only screen and (max-width: 600px) {
    .img-cover {
        height: 170px !important;
    }
}

.megasubmenu {
    padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .megasubmenu {
        right: 100%;
        top: 0;
        min-height: 100%;
        min-width: 500px;
    }

    .dropdown-menu > li:hover .megasubmenu {
        display: block;
    }

    .dropdown-toggle::after {
        content: none;
    }
}

/* ============ desktop view .end// ============ */

.content {
    overflow: hidden;
}

.content img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.cartBtn {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.cartBtn:hover {
    background: red;
}

.cartBtn .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 8px;
    border-radius: 50%;
    background: var(--orange);
    color: white;
}

.breadcrumb {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.breadcrumb-item {
    flex: 0 0 auto;
}

.fill-white {
    fill: aliceblue;
}

.fill-primary {
    fill: blue;
}

.product-category {
    color: gray;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* start tiny slider styles */

.tns-outer {
    padding: 0 !important;
    direction: ltr;
}
.tns-outer [hidden] {
    display: none !important;
}
.tns-outer [aria-controls],
.tns-outer [data-action] {
    cursor: pointer;
}
.tns-slider {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
}
.tns-slider > .tns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tns-horizontal.tns-subpixel {
    white-space: nowrap;
}
.tns-horizontal.tns-subpixel > .tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}
.tns-horizontal.tns-no-subpixel:after {
    content: "";
    display: table;
    clear: both;
}
.tns-horizontal.tns-no-subpixel > .tns-item {
    float: left;
}
.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
    margin-right: -100%;
}
.tns-no-calc {
    position: relative;
    left: 0;
}
.tns-gallery {
    position: relative;
    left: 0;
    min-height: 1px;
}
.tns-gallery > .tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s;
}
.tns-gallery > .tns-slide-active {
    position: relative;
    left: auto !important;
}
.tns-gallery > .tns-moving {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}
.tns-autowidth {
    display: inline-block;
}
.tns-lazy-img {
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    opacity: 0.6;
}
.tns-lazy-img.tns-complete {
    opacity: 1;
}
.tns-ah {
    -webkit-transition: height 0s;
    -moz-transition: height 0s;
    transition: height 0s;
}
.tns-ovh {
    overflow: hidden;
}
.tns-visually-hidden {
    /* position:absolute; */
    display: none;
    left: -10000em;
}
.tns-transparent {
    opacity: 0;
    visibility: hidden;
}
.tns-fadeIn {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 0;
}
.tns-normal,
.tns-fadeOut {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
}
.tns-vpfix {
    white-space: nowrap;
}
.tns-vpfix > div,
.tns-vpfix > li {
    display: inline-block;
}
.tns-t-subp2 {
    margin: 0 auto;
    width: 310px;
    position: relative;
    height: 10px;
    overflow: hidden;
}
.tns-t-ct {
    width: 2333.3333333%;
    width: -webkit-calc(100% * 70 / 3);
    width: -moz-calc(100% * 70 / 3);
    width: calc(100% * 70 / 3);
    position: absolute;
    right: 0;
}
.tns-t-ct:after {
    content: "";
    display: table;
    clear: both;
}
.tns-t-ct > div {
    width: 1.4285714%;
    width: -webkit-calc(100% / 70);
    width: -moz-calc(100% / 70);
    width: calc(100% / 70);
    height: 10px;
    float: left;
}

/* end tiny slider styles */

/* start mobile menu styles */

.zeynep {
    bottom: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: translateX(-100%) translateZ(0px);
    z-index: 1011;
}

.zeynep:not(.no-transition),
.zeynep .submenu:not(.no-transition) {
    transition: all 250ms;
}

.zeynep-overlay {
    background-color: rgba(0, 0, 0, 0.42);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1010;
}

.zeynep-opened .zeynep-overlay {
    display: block;
}

.zeynep.opened {
    pointer-events: auto;
    transform: translateX(0px) translateZ(0px);
}

.zeynep.submenu-opened {
    overflow: hidden;
}

.zeynep .submenu {
    bottom: 0;
    min-height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
}

.zeynep .submenu.opened {
    left: 0;
    pointer-events: auto;
}

.zeynep .submenu.opened:not(.current) {
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.lead {
    font-size: 16px;
    line-height: 1.44;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.btn-open {
    border: 0;
    border-radius: 27.5px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    min-width: 150px;
    outline: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    cursor: pointer;
    margin: 0 6px;
}

.btn-open.first {
    color: #ffffff;
}
.btn-open.second {
    background-color: #ffffff;
    color: #fd698d;
}

/* zeynepjs menu styles */
.zeynep {
    background-color: #ffffff;
    color: #404143;
    width: 295px;
}

.zeynep ul {
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
    -webkit-overflow-scrolling: touch;
    width: 107%;
}
.zeynep ul > li {
    display: block;
}

.zeynep ul > li > a {
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 15px;
    text-decoration: none;
    transition: all 150ms;
}

.zeynep ul > li > a:hover {
    background-color: #efefef8c;
    border-radius: 3px;
    color: orangered;
}

.zeynep ul > li > a:hover img {
    opacity: 0.4;
}

.zeynep ul > li > a img:hover {
    background-color: #e400008c;
    border-radius: 3px;
    color: orangered;
}

.zeynep ul > li:not(:last-child) > a {
    border-bottom: 1px solid #efefef;
}

.zeynep ul > li.has-submenu > a {
    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        url("../svg/default/o-chevron-left.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.zeynep ul > li.has-submenu > a:hover {
    background-image: url("../svg/default/o-chevron-left.svg"),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.505), #ffffff81);
}

/* zeynepjs submenu styles */
.zeynep .submenu {
    z-index: 10;
    background-color: #ffffff;
    left: 295px;
}

.zeynep .submenu-header {
    background-image: url("../svg/default/o-chevron-right.svg");
    background-position: left 20px center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-bottom: solid 1px #efefef;
    cursor: pointer;
    position: relative;
}

.zeynep .submenu-header > a {
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 20px;
    padding-left: 40px;
    text-decoration: none;
}

.zeynep .submenu-header > a:before {
    background-image: url("../svg/default/o-chevron-double-down.svg");
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    content: "";
    height: 100%;
    left: 26px;
    position: absolute;
    top: 0;
    transform: rotate(-180deg);
    width: 20px;
}

.zeynep .submenu > label {
    color: orangered;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 19px;
    padding-left: 40px;
    width: 100%;
}

/* right side menu specific styles */
body {
    right: 0;
}

.zeynep-opened body {
    overflow: hidden;
}

.zeynep.right {
    left: auto;
    right: 0;
}
.zeynep.right:not(.opened) {
    transform: translateX(100%);
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    justify-content: flex-end;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

/* end mobile menu styles */
